html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p {
  font-size: 25px;
}

.blog1 {
  background-color: rgb(26, 34, 52, 255);
  padding: 10px;
  margin: 75px 110px;
  text-align: center;
}

#doc {
  margin: 40px 0px;
  margin-bottom: 10px;
  width: 450px;
}

body {
  background-color: rgb(77, 108, 186);
  background-size: ;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 75px
}

h2 {
  font-size: 40px;
  text-align: center;
}

.blog2 {
  background-color: rgb(26, 34, 52, 255);
  padding: 10px;
  margin: 150px 110px;
  text-align: center;
}

#lavap {
  margin: 40px 0px;
  margin-bottom: 10px;
  width: 450px
}

.blog3 {
  background-color: rgb(26, 34, 52, 255);
  padding: 10px;
  margin: 150px 110px;
  text-align: center;
}

#flight {
  margin: 40px 0px;
  margin-bottom: 10px;
  width: 450px
}